<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form class="row g-3" [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
  <div class="col">
    <label class="form-label" for="login-email">Email</label>
    <input id="login-email" class="form-control" type="email" formControlName="email">
  </div>
  <div class="col">
    <label class="form-label" for="login-password">Password</label>
    <input id="login-password" class="form-control" type="password" formControlName="password">
  </div>
  <div class="col">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>

<div *ngIf="currentUser$ | async">
  {{ currentUser$ | async | json }}
  <button class="btn btn-primary" type="button" (click)="onLogoutClicked()">Logout</button>
  <button class="btn btn-primary" type="button" (click)="onRefreshClicked()">Refresh</button>
</div>
